.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.allProjectsCard {
  display: flex;
  flex-direction: column;

  padding: var(--padding);  
  margin: var(--margin);

  border-style: outset;
  border-width: 5px;
}

.projects_container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: center;
  padding: var(--padding);  
  margin: var(--margin);

}

.project_card {

  flex: 0 0 200px;

  padding: var(--padding);  
  margin: var(--margin);

  border-style: outset;
  border-width: 5px;
  border-radius: var(--border_radius);
}

.project_card img {
  width: 100%;
  height: auto;
}

.project_card:hover {

  flex: 0 0 350px;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
